* {
    /* border: 2px solid black; */
    margin: 0px;
}

:root {
    --background-color: #27374D;
    --box-color: #d4e9ff;
    --text-color: #DDE6ED
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

#top {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 10px;
    height: 500px;
    border-radius: 10px;
    width: 98%;
    margin: 0 auto; 
}

#input_box {
    grid-column: 0 / 1;
    height: 300px;
    margin: 25px;
    max-width: 30%;
    background-color: var(--box-color); 
    display: grid; 
    place-items: center;
    grid-template-rows: 2;
    grid-template-columns: 1;
}

#input {
    align-self:flex-end; 
    margin-bottom: 10px;
    background-color: white; 
    border: none;
    max-width: 85%;
    grid-row-start: 2;
    grid-row-end: 2;
}

#results {
    display: flex;
    flex-flow: column;
    gap: 30px;
    align-items: center;
}

#chart_div {
    border: 0px;
    justify-self: flex-end;
}
#bottom {
    height: auto;
    border-radius: 10px;
    width: 98%;
    margin: 0 auto; 
    margin-bottom: 10px;
    margin-top: 10px;
}

#description {
    margin: 10px;
    border: none;
    text-align: center; 
}

#imageInput {
    border: none;
    margin: 5px;
    width: 95%;
    position: relative;
}

#imageButton {
    margin: 5px;
    width: 95%;
}

#imagePreview {
    grid-row-start: 1;
    grid-row-end: 1;
    max-width: 80%;
    max-height: 80%;
    border: none;
}

#imagePreview img {
    object-fit: contain;
    max-width: 100%; 
    border: none;
    max-height: 100%;
}

h1 {
    text-align: center;
    margin: 10px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
}

p {
    border: none;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
}