* {
    /* border: 2px solid black; */
    margin: 0px;
}

:root {
    --background-color: #27374D;
    --box-color: #d4e9ff;
    --text-color: #DDE6ED
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    padding-left: 10px;
    padding-right: 10px;
}

#top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 125%;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto; 
    border: white 2px solid;
    padding-top: 20px;

}

#left_side {
    min-width: 500px;
    display: flex;
    flex-flow: column;
    align-items: center;
}


#input_box {
    grid-column: 0 / 1;
    height: 300px;
    margin: 25px;
    max-width: 100%;
    background-color: var(--box-color); 
    display: grid; 
    place-items: center;
    grid-template-rows: 2;
    grid-template-columns: 1;
}


#input {
    align-self:flex-end; 
    margin-bottom: 10px;
    background-color: white; 
    border: none;
    max-width: 85%;
    grid-row-start: 2;
    grid-row-end: 2;
}

#results {
    display: flex;
    flex-flow: column;
    align-items: center;

}

.div #chart_div {
    border: 0px;
    justify-self: flex-end;
    margin: 25px;
}

#bottom {
    height: auto;
    border-radius: 10px;
    width: 90%;
    margin: auto; 
    margin-top: 30px;
    margin-bottom: 70px;
    border-radius: 10px;
    border: white 2px solid;
    
}

#description {
    border: none;
    text-align: center; 
    padding: 20px;
}

#imageInput {
    border: none;
    margin: 5px;
    width: 95%;
    position: relative;
}

#imageButton {
    margin: 5px;
    width: 95%;
}

#imagePreview {
    grid-row-start: 1;
    grid-row-end: 1;
    max-width: 80%;
    max-height: 80%;
    border: none;
}

#imagePreview img {
    object-fit: contain;
    max-width: 100%; 
    border: none;
    max-height: 250px;
}

h1 {
    text-align: center;
    margin-top: 30px; 
    margin-bottom: 30px;
    font-family: 'Courier New', Courier, monospace;
    display: grid; 
    justify-content: center; 
}

p {
    border: none;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0px;
}

.fa.fa-github {
    color: #d4e9ff; 
    text-decoration: none; 
    align-self: flex-end; 
    padding-top: 5px;
}

a {
    color: white;
}

#description_text {
    margin-top: 5px;
}